/* ==========================================================================
   INDEX
   ========================================================================== */

.index_body {
  position: relative;
  margin: 1em 2em 2em 2em;
  @include clearfix;
  padding: 1em 0 0 2em;  
  animation: intro 0.3s both;
  animation-delay: 0.25s;

  .wrapper {
    padding-left: 1em;
    padding-right: 1em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  .index_title,
  .index_excerpt {
    color: $black;
  }

  h1 {
    line-height: 1.2;
    font-size: 3.5em;
  }

  .index__title {
    font-weight: bold;
  }

  .index_excerpt {
    font-size: $type-size-2;
  }

  .author__urls-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
}