/* ==========================================================================
   INDEX
   ========================================================================== */

.index_body {
  position: relative;
  margin: 2em 0 0 2em;
  @include clearfix;
  padding: 3em 0;
  animation: intro 0.3s both;
  animation-delay: 0.25s;

  a {
    color: #fff;
  }

  .wrapper {
    padding-left: 1em;
    padding-right: 1em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  .index_title,
  .index_excerpt,
  .index_social {
    color: #000;
  }

  .index__title {
    font-size: $type-size-2;
    font-weight: bold;

    @include breakpoint($small) {
      font-size: $type-size-1;
    }
  }
}